/* This is the main css stylesheet for MuzFuzDuz.github.io */

/* # = id    . = Class */

/* Typography ******************/
:root {
    --serif:'Poppins', sans-serif;
    /* --sans:; */

}

/* color ******************/

/* Navigation ******************/

/* Layout ******************/
/* section {
    width:100vw;
    height: 100vh;
    padding: 60px;
} */

.container { 
    width: 900px;
    background-color: #A7C2CB;
    
}

#freshwater, h1 {
    font-size: 48px;
}

body {
    width: 1222px;
    margin: 0 auto;
    background-color: #E5F1FB;
}

.container, h2 {
    font-size: 20px;
}

#container, p {
    font-size: 16px;
}

#homepage {
    width: 1222px;
    padding: 20px;
    align-content: center;
    /* height: 850px; */
}

.heading-image {
    width: 1222px;
    /* height: 627.55px; */
}

.freshwater {
    font-size: 80px;
    align-items: center;
    color: black;
}

#homepage section{
    font-family: var(--serif);
    width: 1222px;
    height: 850px;
    /* padding: 60px; */

}
#homepage #first-section {
    background-color: #F5F8F9;
}
#homepage #second-section {
    background-color: #D3E8EE;
}

#homepage #third-section {
    background-color: #F5F8F9;
}
.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .flex-chunk1 {
    padding-right: 20px;
} */
.image {
    width:500px;
    height:300px;
    background-color: aqua;
}

#content {
    width: 1120px;
    display: flex;
    flex-direction: column;
}

#header-img {
    padding-bottom: 20px;
}

#heading, h1 {
    font-size: 48px;
    color: #D42A2D;
}

a {
    color: black;
}

.breadcrumb {
    /* padding-left: 10px; */
    /* background-color: lavender; */
    font-size: 20px;
    font-weight: bold;
    color: #20618B;
}

#header, h1 {
    font-size: 48px;
}

.writing {
    width: 390px;
    padding-left: 10px;
}

.header {
    background-color: #A7C2CB;
}
.button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 15px;
    background-color: #D42A2D;
    transition:backgound-color .5s ease-in-out;
    text-decoration: none;
}

a.button {
    color: white;
}

.button:hover {
    background-color: #FFDC4B;
    transition: .5s ease-in-out;
}

a.button:hover {
    color: #D42A2D;
}

#video {
    display: flex;
    justify-content: center;
    padding: 50px;
}

/* Bass Html *****************************/

nav {
    display: contents;
    width: 100%;
    justify-content: space-between;
}
#bass .Header-Image{
    padding: 50px;
}
nav ul {
    list-style-type: none;
    display: contents;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #E5F1FB;
    width: 100%;
    padding:20px 0;
}