h1,h2,h3,h4,h5,h6,p {
    margin:0;
    padding:0;
}

#character {
    width: 500px;
    height: 500px;
    position:relative;
}

#letter-analysis {
    position: absolute;
    width: 495px;
    height: 495px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

#letter-analysis.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
    
}

body {
    font-family:'black ops one', serif;
    background-color: #f5e1ca;
    /* width: 1024px;
    height: 1366px; */
}

.container {
    width:938px;
    margin:0 auto;
    /* padding: 10%; */
}

.letterform-character {
    display: flex;
    align-items: center;
}

.letterform-character h2{
    font-size: 100px;
}

#button {
    Height: 60px;
    width: 60px;
    
}
#button:hover {
    cursor:pointer;

}

.content {
    display: flex;
    align-content: center;
}

.letters {
    font-size: 128px;
    color: #358933;
    width: 187px;
    height: 579px;
    overflow-x: hidden;
    overflow-y:scroll;
}

.footer {
    width: 574px;
}

.p {
    font-size: 28px;
    width: 574px;
    height: 326px;
}

.left-col {
    line-height: 40px;
}
.headshot{
    align-content: center;
}

.right-col {
    display:flex;
    line-height: 30px;
    flex-direction: column;
    text-align: right;
}

.right-col h2 {
    font-size: 10px;
    line-height: 10px;
}