h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}

body{
    font-family: 'Black Ops One', cursive;
    background-color: #f5e1ca;
}

.container{
    width:938px;
    Margin:0 auto;
    width:187px;
    height: 579px;
    font-size: 128px;
}


.letterform-character{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
}
.letterform-character h1{
    /* margin-top:-100px; */
    font-size:500px;
    color: #1D621C;
    padding:0;
}

.letterform-character h2{
    font-size: 100px;
}

.letterform-character img{

}

#button{
    Height: 60px;
    width: 60px;

}
#button:hover{
    cursor:pointer;
}

.letters{
    /* width: 187px;
    height:579px; */
    font-size: 128px;
    color: #358933;
    display: inline;
    /* width: 585px; */
    overflow: hidden;
    width: 297px;
    height: 763px;

    /* overflow: ; */
}

.content {
    display: flex;
    width:500px;
}

.footer{
    margin: 0;
    font-family: 'Black Ops One', cursive;
    /* justify-content: space-evenly; */
    font-size: 20;
    /* align-content: space-around; */
    width: 574px;
    justify-content: space-between;
   
}

.left-col{
width:200px;
    /* flex-wrap: wrap; */
}

.right-col{
width:200px;
    /* flex-wrap: wrap; */
}

.left-col img {
    width: 154px;
    height: 178px;
}

