/* h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
} */

body{
    font-family: 'Black Ops One', cursive;
    /* margin:0;
    padding:0;
    color:#FFFFFF; */
}

/* .container{
    Margin:0 auto;
    width:800;
} */



.letterform-character{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
}
.letterform-character h1{
    margin:0;
    font-size:500;
    color: #1D621C;
    padding:0
    
}

.letterform-character h2{
    font-size: 100;
    /* display:flex; */
}

#button{
    Height: 60px;
    width: 60px;
}
#button:hover{
    cursor:pointer;
}



.body{
    margin: 10%;
    display: flex;
    font-family: 'Sedgwick Ave Display', serif;
    font-size: 20;
}

.letters{
    display: inline;

}


.footer{
    font-size: 20;
    font-family: 'Black Ops One', cursive;
}

.footer{
    display: flex;
    Margin: 25%;
    font-size: 20;
}